.container {
    display: flex;
}

.category-section {
    width: 20rem;
    margin-bottom: auto;
    padding-top: 2rem;
    display: none;
    position: sticky;
    top: 5rem;
}
.category-section h2 {
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
}
.category-section ul {
    list-style: none;
    margin-top: 1rem;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 1px 4px 0px #00000017;
}
.category-section ul li {
    margin-top: 0.25rem;
}
.category-section ul li button {
    width: 100%;
    text-align: left;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 8px;
    outline: 1px solid transparent;
    border: none;
    background-color: #fff;
    cursor: pointer;
}
.category-section ul li button:hover {
    background-color: #26465311;
}
.category-section ul li button.active {
    background: var(--green-grad);
    color: #fff;
}

/* Products section */
.products-section {
    width: 100%;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    padding: 2rem;
}
.products-section .product {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-bottom: auto;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0px 1px 4px 0px #00000017;
}
.products-section .product .product-img {
    height: 8rem;
    display: flex;
    margin-bottom: 1rem;
}
.products-section .product .product-img img {
    margin: 0 auto;
}
.products-section .product h2 {
    font-weight: 500;
}
.products-section .product .quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.products-section .product button {
    padding: 0.1rem 1rem;
    background: var(--green-grad);
    color: #fff;
    font-size: 1.75rem;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    outline: 1px solid transparent !important;
    cursor: pointer;
}
.products-section .product p,
.products-section .product .quantity {
    margin-top: 0.5rem;
}
.products-section .product .quantity {
    font-size: 1.1rem;
    font-weight: 400;
}
.products-section .product .quantity-1 button {
    padding: 0.5rem 1rem;
    margin: auto;
    font-size: 1.15rem;
    font-weight: 500;
}

@media (min-width: 640px) {
    .products-section {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 768px) {
    .category-section {
        display: block;
    }
    .products-section {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1024px) {
    .products-section {
        grid-template-columns: repeat(4, 1fr);
    }
}
